.button
{
    -fx-background-color :  #3D208A;
}

.button:pressed
{
    -fx-brackground-color : #3D208A;
}


.table-view .column-header,
.table-view .column-header-background .filter{
    -fx-cell-size : 20;
    -fx-background-color: #7156DD;
}